.gradle/
build/
run/
bin/
eclipse/
.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
.vscode/
*.class
*.log
hs_err_pid*
replay_pid*
Thumbs.db
Desktop.ini
.DS_Store
/hotbarrebind-2.0.0.jar
hotbarrebind-2.0.0.jar
